@model IEnumerable<Teste_Sponte_Live.Inscrito>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="content-panel" style="padding: 20px">

                <p>
                    @Html.ActionLink("Novo Cadastro", "Create")
                </p>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.nm_Inscrito)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.dt_Nasci_Inscrito)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.email_Inscrito)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.insta_Inscrito)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.nm_Inscrito)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.dt_Nasci_Inscrito)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.email_Inscrito)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.insta_Inscrito)
                            </td>
                            <td>
                                @Html.ActionLink("   Editar", "Edit", null, new { id = item.Id_Inscrito}, new { @class = "btn btn-primary fa fa-pencil" }) |
                                @Html.ActionLink("   Detalhes", "Details", null, new { id = item.Id_Inscrito}, new { @class = "btn btn-success fa fa-check" }) |
                                @Html.ActionLink("   Excluir", "Delete", null, new { id = item.Id_Inscrito}, new { @class = "btn btn-danger fa fa-trash-o" })
                            </td>
                        </tr>
                    }

                </table>

            </div>
        </div>
    </div>
</section>